.template {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.template__item {
  border: 5px solid #a595ff;
}
